doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    title="lymme - Error"
    style
      include style.css
  body
    block content
      div(id='shopListHeader')
        h1 lymme
      div(id='frontArticle' style='text-align:center')
        h1 ʅʕ•ᴥ•ʔʃ
        p The page you requested was not found!
        a(href='/') 
          button Return to main page