link(rel="apple-touch-icon", sizes="180x180", href="/list/icons/apple-touch-icon.png?v=dLBkpQ2X32")
link(rel="icon", type="image/png", sizes="32x32", href="/list/icons/favicon-32x32.png?v=dLBkpQ2X32")
link(rel="icon", type="image/png", sizes="16x16", href="/list/icons/favicon-16x16.png?v=dLBkpQ2X32")
link(rel="manifest", href="/list/icons/manifest.json?v=dLBkpQ2X32")
link(rel="mask-icon", href="/list/icons/safari-pinned-tab.svg?v=dLBkpQ2X32", color="#5bbad5")
link(rel="shortcut icon", href="/list/icons/favicon.ico?v=dLBkpQ2X32")
meta(name="msapplication-config", content="/list/icons/browserconfig.xml?v=dLBkpQ2X32")
meta(name="theme-color", content="#ffffff")
meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
style
  include style.css